[submodule "hashredirect"]
	path = hashredirect
	url = git@bitbucket.org:umichdig/hashredirect.git
[submodule "umichuser"]
	path = umichuser
	url = git@bitbucket.org:umichdig/umichuser.git
[submodule "healthcheck"]
	path = healthcheck
	url = git@bitbucket.org:umichdig/healthcheck.git
