Django>=3.2.12,<3.2.99
djangosaml2==1.3.6

# Hasn't been updated since 2018
django-cron>=0.5.1,<0.5.99
django-debug-toolbar>=3.2,<3.2.99
django-extensions>=3.1.5,<3.1.99
django-mysql>=4.5.0,<4.5.99

# Hasn't been updated since 2016
django-npm==1.0.0

# This needs to be switched to debugpy
django-ptvsd-debug==1.0.3
django-registration-redux==2.9

# This hasn't been updated since 2016
django-settings-export>=1.2.1,<1.2.99
django-watchman>=1.2.0,<1.2.99
libsass>=0.21.0,<0.21.99
mysqlclient>=2.1.0,<2.1.99

# This needs to be switched to debugpy
ptvsd>=4.3.2,<4.3.99

python-dateutil>=2.8.2,<2.8.99
python-decouple==3.6
requests>=2.27.0,<2.27.99
whitenoise>=6.0.0,<6.0.99
xlrd==2.0.1

# This hasn't been updated since 2017
xlwt==1.3.0
