.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding-top: 50px;
}

.sub-header {
  padding-bottom: 10px;
  padding-left: 5px;
  /*border-bottom: 1px solid #eee;*/
}

.navbar {
    vertical-align: middle;
}

.navbar-fixed-top {
  border: 0;
}

/* Unify indents in the dropdown-menu */
.dropdown-menu p {
  padding: 3px 20px;
}

/* Highlight background if the user hasn't accepted the policy */

.policy-warning {
    background-color: rgba(255,200,200,1);
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

.content {
    margin: 0 20px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.class-site-status {
  height: 20pt;
  margin-right: 5px;
}

@media screen and (max-width: 600px) {
  .hide-small {
    display: none;
  }
}

/* For ng-cloak */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.progress {
  width: 200px;
  margin-left: 50px;
}

.progress-bar {
  text-align: left;
  padding-left: 5px;
}

.progress-label {
  font-weight: bold;
}
