{% extends 'student_explorer/index.html' %}
{% load filters %}

{% block content %}

    <div class="container content">
        <h1 class="sub-header">Usage Statistics</h1>
        {% now "Y" as current_year %}
        <a class="note" href='{% url "usage:usage_download" %}'>Download Users for the Academic Year
            {{current_year|add:-1}}-{{current_year}}</a>
        <hr class="main-no-margin-top"/>

        <script>
            function getDateOfISOWeek(w, y) {
                var simple = new Date(y, 0, 1 + (w - 1) * 7);
                var dow = simple.getDay();
                var ISOweekStart = simple;
                if (dow <= 4)
                    ISOweekStart.setDate(simple.getDate() - simple.getDay() + 1);
                else
                    ISOweekStart.setDate(simple.getDate() + 8 - simple.getDay());
                return ISOweekStart;
            }

            function drawLineChart(div) {
                nv.addGraph(function () {
                    var chart = nv.models.lineChart().margin({left: 80}).useInteractiveGuideline(true).transitionDuration(350).showYAxis(true).showXAxis(true);

                    var myData = {{ dailyData|safe }};

                    chart.x(function (d) {
                        return d.date * 1000;
                    });
                    chart.y(function (d) {
                        return d.studentcount;
                    });
                    chart.xAxis.tickFormat(function (d) {
                        return d3.time.format('%Y-%m-%d')(new Date(d));
                    });
                    chart.yAxis.tickFormat(function (d) {
                        return d + ' Students';
                    });

                    chart.xAxis.rotateLabels(-65);
                    chart.margin({bottom: 100});
                    d3.select('#' + div + ' svg').datum(myData).call(chart);

                    nv.utils.windowResize(function () {
                        chart.update()
                    });
                    return chart;
                });
            }

            function drawLinePlusBarChart(div) {
                nv.addGraph(function () {
                    var chart = nv.models.linePlusBarChart().x(function (d, i) {
                        return i
                    }).y(function (d, i) {
                        return d.count;
                    });

                    var myData = {{ weeklyData|safe }};

                    chart.xAxis.tickFormat(function (d) {
                        d = myData[0].values[d];
                        return getDateOfISOWeek(d.week, d.year).toISOString().split('T')[0];
                    });

                    chart.y1Axis.tickFormat(function (d) {
                        return d + ' Users';
                    });

                    chart.y2Axis.tickFormat(function (d) {
                        return d + ' Hits';
                    });

                    chart.bars.forceY([0]);

                    chart.xAxis.rotateLabels(-65);
                    chart.margin({bottom: 100});
                    d3.select('#' + div + ' svg').datum(myData).transition().duration(350).call(chart);

                    nv.utils.windowResize(chart.update);

                    return chart;
                });
            }
        </script>

        <div class="row charts no-margin">
            <h4>Weekly Unique Users / Weekly Hits</h4>
            <small class="note">This graph shows the total number of unique users and page hits in each week.</small>
            <div id="chartlineplusbar" style="height: 100%;">
                <svg></svg>
            </div>
            <script>
                drawLinePlusBarChart('chartlineplusbar');
            </script>

            <h4>Daily Unique Student Searches</h4>
            <small class="note">This graph shows the daily number of unique students searched.</small>
            <div id="chartsearch" style="height: 100%;">
                <svg></svg>
            </div>
            <script>
                drawLineChart('chartsearch');
            </script>
        </div>

    </div>

{% endblock %}
