{% extends 'student_explorer/index.html' %}

{% block content %}
    <div class="container content">
        <h1 class="sub-header">About Student Explorer</h1>
        <p>Student Explorer is an early warning system that <b>helps academic advisors identify at-risk students</b>
            based on current term Learning Management System data. It presents actionable intelligence to academic
            advisors using visualizations of data about students' current term grades, activity, and assignments.
            By helping them identify students at risk of academic jeopardy, the tool enables advisors to create timely
            interventions directing students toward resources that may facilitate behavioral change and academic growth
            and success. For more information about how Student Explorer works and how to use it, see
            <a href="https://documentation.its.umich.edu/student-explorer-general">Student Explorer
                Resources & Support</a>.
        </p>

        <h2 class="list-header">Student Explorer Access</h2>
        <p>Student Explorer is available to professional staff/faculty advisors at the U-M Ann Arbor campus upon
            request for access. It includes information about all students on the Ann Arbor campus who use Canvas,
            including graduate students (note: some programs do not use Canvas and those students will not be
            visible in Student Explorer). <a href="https://documentation.its.umich.edu/student-explorer-access">Learn
                how to gain access to Student Explorer and how access is governed.</a>.
        </p>

        <h2 class="list-header">Student Explorer History</h2>
        <p>Student Explorer started in 2011 as a University of Michigan USE Lab research project led by Professor
            Stephanie Teasley and Dr. Steven Lonn in partnership with M-STEM Academies. LSA Technology Services,
            the Center for Academic Innovation, and ITS Teaching & Learning have contributed to the design, development,
            and management of the tool.
        </p>

        <h2 class="list-header">Contact the Student Explorer Team</h2>
        <p>ITS Teaching & Learning manages Student Explorer; the Service Manager is
            <a href="https://mcommunity.umich.edu/#profile:jmaggie">Maggie Davidson</a>. Get in touch by
            emailing <a href="mailto:student-explorer-help@umich.edu">student-explorer-help@umich.edu</a>!
        </p>

        <hr/>

        <h2 class="list-header">Technical Information</h2>
        <p>The <a href="https://github.com/tl-its-umich-edu/student_explorer">GitHub repository</a> for Student Explorer
            is public. <a href="https://github.com/tl-its-umich-edu/student_explorer/releases">View release notes</a>
            for Student Explorer.
        </p>

        <p>Build Name:
            <strong>{{ build_name }}</strong>
        </p>
        <p>Build Commit:
            <strong>{{ build_commit }}</strong>
        </p>
        <p>Build Reference:
            <strong>{{ build_reference }}</strong>
        </p>
    </div>
{% endblock %}
