<!doctype html>
<html lang="en" class="no-js">

    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-120370966-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-120370966-1');
        </script>
        {% load static from staticfiles %}
        <meta charset="utf-8">
        <title>Student Explorer</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <link rel="shortcut icon" href="{% static 'seumich/images/favicon.ico' %}">
        <link rel="apple-touch-icon" href="{% static 'seumich/images/icon.png' %}">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/dist/css/bootstrap.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'nvd3/src/nv.d3.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'components-font-awesome/css/font-awesome.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'seumich/styles/main.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'tablesorter/theme.bootstrap_3.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'tablesorter/jquery.tablesorter.pager.min.css' %}">
        <script src="{% static 'jquery/dist/jquery.js' %}"></script>
        <script src="{% static 'bootstrap/dist/js/bootstrap.js' %}"></script>
        <script src="{% static 'd3/d3.js' %}"></script>
        <script src="{% static 'nvd3/nv.d3.js' %}"></script>
        <script src="{% static 'tablesorter/jquery.tablesorter.combined.min.js' %}"></script>
        <script src="{% static 'tablesorter/jquery.tablesorter.pager.min.js' %}"></script>
        <script src="{% static 'seumich/index.js' %}"></script>
        {% block head %}{% endblock %}
    </head>

    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            {% url 'seumich:advisor' advisor.username as mystudentsurl %}
            {% url 'about' as abouturl %}
            {% url 'seumich:advisors_list' as advisorsurl %}
            {% url 'management:index' as manageurl %}
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                <a href="{% url 'about' %}">
                    <span class="main-color-white main-navbar-brand navbar-brand"><img id="student-explorer-logo" src="/static/seumich/images/se-logo.svg" alt="student explorer logo">Student Explorer</span>
                </a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <form action="{% url 'seumich:students_list' %}" method="get" class="navbar-form navbar-left">
                        <div class="form-group">
                            <label for="student-search" class="sr-only">Search student name, uniqname, or UMID...</label>
                            <input id="student-search" value="{{ query_user | default_if_none:'' }}" name="search" type="text" class="form-control" placeholder="Search student name, uniqname, or UMID...">
                        </div>
                    </form>
                    <ul class="nav navbar-nav navbar-right">
                        <li {% if request.path == mystudentsurl %} class="active" {% endif %}>
                            <a href="{% url 'seumich:index' %}" data-toggle="collapse" data-target="#navbar.in">My Students</a>
                        </li>
                        <li {% if request.path == abouturl %} class="active" {% endif %}>
                            <a href="{% url 'about' %}">About</a>
                        </li>
                        <li>
                            <a href="https://documentation.its.umich.edu/node/831" target="_blank">
                                Resources & Support
                                <i class="fa fa-external-link" aria-hidden="true" width="25px" hspace="3" alt="External Help Doc Icon"></i>
                            </a>
                        </li>
                        {% if user.is_authenticated %}
                            <li class="dropdown hidden-xs hidden-sm">
                                <a class="dropdown-toggle" aria-label="expand for logout" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" href="">{{user.username}}
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    {% if user.first_name and user.last_name %}
                                    <li>
                                        <p><strong>{{user.first_name}} {{user.last_name}}</strong></p>
                                    </li>
                                    {% endif %}
                                    {% if user.is_superuser %}
                                        <li {% if request.path == advisorsurl %} class="active" {% endif %}>
                                            <a href="{% url 'seumich:advisors_list' %}">Advisors</a>
                                        </li>
                                        <li {% if request.path == manageurl %} class="active" {% endif %}>
                                            <a href="{% url 'management:index' %}">Manage</a>
                                        </li>
                                    {% endif %}
                                    <li role="separator" class="divider"></li>
                                    <li>
                                        <a href="{% url 'auth_logout' %}">Logout</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="visible-xs visible-sm">
                                <p class="mobile-nav-right">
                                    <strong>{{user.first_name}} {{user.last_name}} ({{user.username}})</strong>
                                </p>
                            </li>
                            <li class="visible-xs visible-sm">
                                <a href="{% url 'auth_logout' %}">Logout</a>
                            </li>
                        {% else %}
                            <li>
                                <a href="{{ settings.LOGIN_URL }}" aria-haspopup="true" aria-expanded="false">Login</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container-index">
            {% if messages %}
                <div class="container alert-message">
                    {% for message in messages %}
                        <div class='alert alert-{{ message.tags }} alert-dismissible' role='alert'>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            {% block content %}{% endblock %}
            <footer>
                <div class="container-fluid">
                    <div class='feedback center-align'>
                        <a href="{% url 'feedback:feedback' %}">
                            <button type="button" class="btn btn-sm btn-default">
                                <img src="{% static 'seumich/images/feedback.svg' %}" alt="Feedback icon"></img>
                                Submit Feedback</button>
                        </a>
                    </div>
                    <div class="row main-color-white">
                        <div class="col-xs-6 text-left"><a href="{% url 'about' %}" style="text-decoration: none; color: inherit;">Student Explorer </a>
                            <span class="footer-block">Copyright &copy; 2015 - 2020</span>
                            <span class="footer-block">The Regents of the University of Michigan</span>
                        </div>
                        <div class="col-xs-6 text-right">
                                Data last updated from Canvas: {{ data_time|date:"m/d/Y P T"}} | Schema: {{data_schema}}
                        </div>
                    </div>
                </div>
            </footer>
        </div>

    </body>

</html>
