html, body {
  font-family: 'Roboto', sans-serif;
  font-size:14px;
  height:100%;
  margin: 0px;
  padding: 0px;
}

/* required code for ng-cloak */

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

/* toolbar */

md-toolbar {
  background-color: #475582;
}

md-toolbar h1 {
  font-size: 2em !important;
  font-weight: bold;
}

/* Primary content area */

/*#content  {
  overflow: hidden;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 0;
}*/

/* Typography support coming in 0.8.0 */

md-content p {
  margin-left: 12px;
}

md-content ul {
  margin-bottom: 25px;
}

md-content li {
  list-style-type: none;
}

.smallnote  {
  font-size: x-small;
}

/* Fade the grid lines a bit in the NVD3 charts */
.tick line:not(.zero) {
  opacity: 0.5 !important;
}

.search-bar {
  width: 35%;
}

.form-group {
  margin-bottom: 0;
}

table {
  font-size: 1.2em;
  border: 0px !important;
}

.advisor-table table td {
  background-color: #FFF !important;
  border: 0px !important;
}

.advisor-table ul {
  margin-bottom: 20px;
}

table thead {
  border-bottom: 2px solid #CCC;
}

table thead a {
  font-size: 1.3em;
}

table a {
  color: black;
}

table ul {
  padding-left: 0;
}

table td {
  width: 180px;
  padding-left: 15px !important;
}

table img {
  width: 20%;
  margin-right: 10px;
}

.bold {
  font-weight: bold;
}

.tb {
  display: inline-block;
  vertical-align: top;
}

.side-title {
  font-size: 1.3em;
  color: #666;
}

.side-title li {
  font-size: 0.8em;
  color: black;
  padding-top: 15px;
}

.side-title p {
  font-size: 0.8em;
  color: black;
  margin: 20px auto;
}

.side-title ul {
  margin-bottom: 8px;
}

.side-title a {
  color: black;
  text-decoration: none;
}

.range-slider {
  width: 95%;
}

.filter-table table td {
  background-color: #E6E6E6 !important;
  border: 0px !important;
  width: 198px !important;
}

.filter-table thead a:hover {
  color: black;
  text-decoration: none;
}

.filter-table tbody tr {
  border-bottom: 2px solid #CCC;
}

.unselected {
  color: #CCC !important;
}

.not-sortable:hover {
  color: black;
  text-decoration: none;
}