html, body {
  font-family: 'Roboto', sans-serif;
  font-size:14px;
  height:100%;
  margin: 0px;
  padding: 0px;
}

/* toolbar */

md-toolbar {
  background-color: #475582;
}

md-toolbar h1 {
  font-size: 2em !important;
  font-weight: bold;
}

/* Primary content area */

/*#content  {
  overflow: hidden;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 0;
}*/

/* Typography support coming in 0.8.0 */

md-content p {
  margin-left: 12px;
}

md-content img {
  width: 250px !important;
  margin: 30px 25px;
}

md-content ul {
  margin-bottom: 25px;
}

md-content li {
  list-style-type: none;
}

.smallnote  {
  font-size: x-small;
}

/* Fade the grid lines a bit in the NVD3 charts */
.tick line:not(.zero) {
  opacity: 0.5 !important;
}

.search-bar {
  width: 35%;
}

.form-group {
  margin-bottom: 0;
}

table {
  font-size: 1.2em;
  border: 0px !important;
}

.student-table table td {
  background-color: #FFF !important;
  border: 0px !important;
}

table thead {
  border-bottom: 2px solid #CCC;
}

table thead a {
  font-size: 1.3em;
  color: black;
}

.bold {
  font-weight: bold;
}

.tb {
  display: inline-block;
  vertical-align: top;
}

.side-title {
  font-size: 1.3em;
  color: #666;
}

.filter-table table td {
  background-color: #E6E6E6 !important;
  border: 0px !important;
}

.filter-table tbody tr {
  border-bottom: 2px solid #CCC;
}
