{% extends 'seumich/advisor.html' %}

{% block head %}
    {% load static %}
    <script src='{% static 'seumich/sort_table.js' %}'></script>
{% endblock %}

{% block content %}

    <div class="container content">
        <h2 class="sub-header list-header">All Advisors</h2>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col" class="hide-small">First Name</th>
                        <th scope="col" class="hide-small">Last Name</th>
                        <th scope="col" class="hide-small">Uniqname</th>
                    </tr>
                </thead>
                <tbody>
                    {% for advisor in advisors %}
                        <tr>
                            <td scope="row" class="bold">
                                {% url 'seumich:advisor' advisor.username as advisor_url %}
                                {% if advisor_url %}
                                    <a href="{{advisor_url}}">{{ advisor.first_name }}</a>
                                {% endif %}
                            </td>
                            <td scope="row" class="bold">
                                {% url 'seumich:advisor' advisor.username as advisor_url %}
                                {% if advisor_url %}
                                    <a href="{{advisor_url}}">{{ advisor.last_name }}</a>
                                {% endif %}
                            </td>
                            <td scope="row" class="bold">
                                {% url 'seumich:advisor' advisor.username as advisor_url %}
                                {% if advisor_url %}
                                    <a href="{{advisor_url}}">{{advisor.username}}</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    {% include 'seumich/ts_pager.html' with colspan="3" %}
                </tfoot>
            </table>
        </div>
    </div>

{% endblock %}
