{% extends 'index.html' %}

{% block content %}


<h2 class="sub-header">All Advisors</h2>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">
          <a href="">
            Name
            <span class="fa fa-caret-down"><span class="sr-only"> (descending sort)</span></span>
            <span class="fa fa-caret-up"><span class="sr-only"> (ascending sort)</span></span>
</a>        </th>
      </tr>
    </thead>
    <tbody>
      {% for advisor in advisors %}
      <tr>
        <th scope="row" class="bold">
          <a href="/advisors/{{ advisor.username }}/">{{ advisor.first_name }}
                {{ advisor.last_name }}</a>
        </th>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<dig-data-fetch-progress progress="{{progress}}" />

{% endblock %}
