{% extends 'index.html' %}

{% block head %}
  {% load staticfiles %}
  <script src='{% static 'seumich/advisor_detail.js' %}'></script>
{% endblock %}


{% block content %}


<div>
    <div class="main-page-end-margin-bottom" id="load-advisor-detail"></div>
    <input type="hidden" id="csrfmiddlewaretoken" value="{{ csrf_token }}">
    <input type="hidden" id="selected-advisor" value="{{ advisor }}">
</div>

{% if not advisor %}
<div class="panel panel-warning not-found">
  <div class="panel-heading">
    <h3 class="panel-title">Not Found</h3>
  </div>
  <div class="panel-body">
    No advisor profile found ({{advisorUsername}}).
  </div>
</div>
{% endif %}

{% endblock %}
