{% block head %}
{% load staticfiles %}
  <script src='{% static 'seumich/assignment_list_table.js' %}'></script>
  <script src='{% static 'seumich/sort_table.js' %}'></script>
{% endblock %} {% load filters %}

<table class="table table-striped">
    <thead>
        <tr>
          <th scope="col" class="hide-small"><a href="#" onClick="return false;">Assignment</a></th>
          <th scope="col" class="hide-small"><a href="#" onClick="return false;">Due Date</a></th>
          <th scope="col" class="hide-small"><a href="#" onClick="return false;">Points Earned/Possible</a></th>
          <th scope="col" class="hide-small"><a href="#" onClick="return false;">Student Percentage</a></th>
          <th scope="col" class="hide-small"><a href="#" onClick="return false;">Class Average</a></th>
          <th scope="col" class="hide-small"><a href="#" onClick="return false;">Grader's Comment</a></th>
        </tr>
    </thead>
    <tbody>
        {% for assignment in assignments %}
        <tr>
            <th scope="row">{{assignment.assignment.description}}</th>
            <td>{% if assignment.due_date %}{{assignment.due_date.date}}{% endif %}</td>
            <td>{{assignment.points_earned|floatformat}}/{{assignment.points_possible|floatformat}}</td>
            <td>{{assignment.points_earned|divide:assignment.points_possible|multiply:100|floatformat}}%</td>
            <td>{{assignment.class_points_earned|divide:assignment.class_points_possible|multiply:100|floatformat}}%</td>
            <td class="assignment-comment-cell">
                {% if assignment.grader_comment %}
                <span>
                  <span id="comment-title-{{assignment.assignment.id}}">View Comment</span>
                  <a class="assignment-button" role="button">
                    <img id="plus-button-{{assignment.assignment.id}}" class="assignment-button" src="{{baseUrl}}images/Dropdown_Plus.png" alt="Expand"/>
                    <img id="minus-button-{{assignment.assignment.id}}" class="assignment-button" src="{{baseUrl}}images/Dropdown_Minus.png" alt="Expand"/>
                  </a>
                  <p id="assignment-grader-comment-{{assignment.assignment.id}}">&quot;{{assignment.grader_comment}}&quot;</p>
                </span>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
