{% extends 'seumich/advisor.html' %}

{% block content %}

    <div class="container content">
        <h2 class="sub-header list-header">All Classes</h2>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col" class="hide-small">
                            <a href="#" onClick="return false;">Name</a>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for class_site in classes %}
                        <tr>
                            <th scope="row" class="bold">
                                <a href="{% url 'seumich:class_site' class_site.id %}">{{ class_site.description }}</a>
                            </th>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>

{% endblock %}
