{% load filters %}

<table class="table student-class-site-list-table">
  <thead>
    <tr>
      <th scope="col">
        <a href="">
          Course Site
          <span class="fa fa-caret-down"><span class="sr-only"> (ascending sort)</span></span>
          <span class="fa fa-caret-up"><span class="sr-only"> (descending sort)</span></span>
        </a>
      </th>
      <th scope="col">
        <a class="unsortable">Status</a>
      </th>
      <th scope="col">
        <a class="unsortable">Current Percentage</a>
      </th>
    </tr>
    <tr>
      <td colspan="2"></td>
      <td>
        <p class="legend-text"><span class="legend-key student-legend-key"></span>Student</p>
        <p class="legend-text"><span class="legend-key class-legend-key"></span>Class Average</p>
      </td>
    </tr>
  </thead>
  <tbody>
    {% for classSite in classSites %}
    <tr>
      <th scope="row" class="class-site-title"><a href="#/students/{{student.username}}/class_sites/{{classSite.class_site.code}}">{{ classSite.description }}</a></th>
      <td>
        <span status-tooltip status="classSite.status" tooltiptext="classSite.status | colorToStatus"></span>
      </td>
      <td>
        <div class="average-bar-container">
          <div class="average-bar student-average-bar" role="progressbar" aria-valuenow="{{ studentScores|get_item:classSite.id }}"
            aria-valuemin="0" aria-valuemax="100" style="width: {{ studentScores|get_item:classSite.id }}%;">
            <p class="average-bar-text">{{ studentScores|get_item:classSite.id }}%</p>
            <span class="sr-only">Student Percentage: {{ studentScores|get_item:classSite.id }}%</span>
          </div>
        </div>
        <div class="average-bar-container">
          <div class="average-bar class-average-bar" role="progressbar" aria-valuenow="{{ classScores|get_item:classSite.id }}"
            aria-valuemin="0" aria-valuemax="100" style="width: {{ classScores|get_item:classSite.id }}%;">
            <p class="average-bar-text">{{ classScores|get_item:classSite.id }}%</p>
            <span class="sr-only">Class Average Percentage: {{ classScores|get_item:classSite.id }}%</span>
          </div>
        </div>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
