{% extends 'seumich/student.html' %}
{% load filters %}
{% block head %}
    {% load staticfiles %}
    <script src='{% static "seumich/student.js" %}'></script>
    <script src='{% static "seumich/assignment_list_table.js" %}'></script>
{% endblock %}
{% block content %}

    <div class="container-fluid content">
        <div class="student-detail-left-menu" id="student-detail-menu">
            <div class="student-detail-left-menu-top">
                {% include 'seumich/student_info_partial.html' with link_present=True %}
            </div>

            <h2 class="sub-header-backlink">
                <a class="backlink" href="/students/{{student.username}}/">
                    &lt; Back to Course List
                </a>
            </h2>

            <div class="student-detail-left-menu-detail">
                <h2>Course List:</h2>
                <div class="student-detail-left-menu-course-line">
                    <input type="hidden" id="student-username" value="{{ student.username }}">
                </div>
                {% for courseSite in student.studentclasssitestatus_set.all %}
                    <div class="student-detail-left-menu-courses" id="student-menu-{{ courseSite.class_site.code }}" onclick="location.href='/students/{{student.username}}/class_sites/{{courseSite.class_site.code}}/';">
                        <h3>{{courseSite.class_site.description}}</h3>
                        {% with status=courseSite.status.description %}
                        {% if status == 'Green' %}
                            <a href="#" data-toggle="tooltip" title="Encourage" data-placement="bottom">
                                <img src="{% static 'seumich/images/Status_Icons_Green.png' %}" alt="Green encourage status icon" width="25px" hspace="3"></img>
                            </a>
                        {% elif status == 'Yellow' %}
                            <a href="#" data-toggle="tooltip" title="Explore" data-placement="bottom">
                                <img src="{% static 'seumich/images/Status_Icons_Yellow.png' %}" alt="Yellow explore status icon" width="25px" hspace="3"></img>
                            </a>
                        {% elif status == 'Red' %}
                            <a href="#" data-toggle="tooltip" title="Engage" data-placement="bottom">
                                <img src="{% static 'seumich/images/Status_Icons_Red.png' %}" alt="Red engage status icon" width="25px" hspace="3"></img>
                            </a>
                        {% elif status == 'Not Applicable' %}
                            <a href="#" data-toggle="tooltip" title="No data" data-placement="bottom">
                                <img src="{% static 'seumich/images/Status_Icons_Not Applicable.png' %}" alt="no status available for this course icon" width="25px" hspace="3"></img>
                            </a>
                        {% endif %}
                        {% endwith %}
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="student-detail-summary">
            <div class="student-detail-summary-content">
                <div class="row no-margin">
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                        <h3 class="main-h3">Course Site:
                            {{ classSite.description }}
                            <input type="hidden" id="current-classsite-code" value="{{ classSite.code }}">
                            {% if current_status == 'Green' %}
                                <span data-toggle="tooltip" title="Encourage" data-placement="bottom">
                                    <img src="{{ baseUrl }}seumich/images/Status_Icons_Green.png" alt="Green encourage status icon" width="25px" hspace="10"></img>
                                </span>
                            {% elif current_status == 'Yellow' %}
                                <span data-toggle="tooltip" title="Explore" data-placement="bottom">
                                    <img src="{{ baseUrl }}seumich/images/Status_Icons_Yellow.png" alt="Yellow explore status icon" width="25px" hspace="10"></img>
                                </span>
                            {% elif current_status == 'Red' %}
                                <span data-toggle="tooltip" title="Engage" data-placement="bottom">
                                    <img src="{{ baseUrl }}seumich/images/Status_Icons_Red.png" alt="Red engage status icon" width="25px" hspace="10"></img>
                                </span>
                            {% elif current_status == 'Not Applicable' %}
                                <span data-toggle="tooltip" title="No data" data-placement="bottom">
                                    <img src="{{ baseUrl }}seumich/images/Status_Icons_Not Applicable.png" alt="no status available for this course icon" width="25px" hspace="10"></img>
                                </span>
                            {% endif %}
                        </h3>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <div class="pull-right">
                            <br>Data Source:
                            <span class="label label-primary">{{classSite.source_system}}</span>
                        </div>
                    </div>
                </div>
                <hr class="main-no-margin-top"/>

                <div class="row charts no-margin">
                    <h4>Cumulative Score</h4>
                    <small class="note">This graph compares the student's cumulative score to the class' average cumulative score during each week of the semester.</small>
                    <div id="chart1" style="height: 100%;">
                        <svg></svg>
                    </div>
                    <script>

                        nv.addGraph(function () {
                            var chart = nv.models.multiBarChart().showControls(false).forceY([0, 100]).reduceXTicks(false).showYAxis(true).showXAxis(true)

                            var data = {{ scoreData|jsonify }}

                            chart.x(function (d) {
                                return d[0];
                            });
                            chart.y(function (d) {
                                return d[1];
                            });
                            chart.xAxis.axisLabel('Week').tickFormat(function (d) {
                                if (window.innerWidth >= 1150) {
                                    return 'Week ' + d;
                                } else {
                                    return d;
                                }

                            });
                            chart.yAxis.tickFormat(function (d) {
                                return d + '%';

                            });
                            d3.select('#chart1 svg').datum(data).transition().duration(500).call(chart);
                            nv.utils.windowResize(chart.update);
                            return chart;
                        });
                    </script>

                    <h4>Weekly Activity</h4>
                    <small class="note">This graph shows the percentile ranking of the student's page views (Canvas) or log-ins (CTools).</small>
                    <div id="chart2" style="height: 100%;">
                        <svg></svg>
                    </div>
                    <script>

                        nv.addGraph(function () {
                            var chart = nv.models.multiBarChart().showControls(false).forceY([0, 100]).reduceXTicks(false).showYAxis(true).showXAxis(true)

                            var data = {{ eventPercentileData|jsonify }}

                            chart.x(function (d) {
                                return d[0];
                            });
                            chart.y(function (d) {
                                return d[1];
                            });
                            chart.xAxis.axisLabel('Week').tickFormat(function (d) {
                                if (window.innerWidth >= 1150) {
                                    return 'Week ' + d;
                                } else {
                                    return d;
                                }

                            });
                            chart.yAxis.tickFormat(function (d) {
                                return d + '%ile';

                            });
                            d3.select('#chart2 svg').datum(data).transition().duration(500).call(chart);
                            nv.utils.windowResize(chart.update);
                            return chart;
                        });
                    </script>
                </div>

                <div class="row assignments no-margin">
                    <h4>Assignments</h4>
                    <small class="note">This list may not reflect all assignments included in current score calculation. For a complete list, please refer to the source system.</small>
                    <!-- <a href="api/class_sites/{{classSite.class_site.code}}/student/{{student.username}}/assignments/download/"><button>Download Assignment</button></a> -->
                    {% if not assignments %}
                        <div class="panel panel-info main-page-end-margin-bottom">
                            <div class="panel-body">
                                No assignments found for this student.
                            </div>
                        </div>
                    {% endif %}
                </div>

                {% if assignments %}
                    <div class="main-page-end-margin-bottom">
                        <div class="assignment-table">
                            <div class="container-fluid">
                                <div class="row hide-small-grid">
                                    <div class="col-md-2">
                                        <strong class="table-column-name">Assignment</strong>
                                    </div>
                                    <div class="col-md-2">
                                        <strong class="table-column-name">Due Date</strong>
                                    </div>
                                    <div class="col-md-2">
                                        <strong class="table-column-name">Points Earned/Possible</strong>
                                    </div>
                                    <div class="col-md-2">
                                        <strong class="table-column-name">Student Percentage</strong>
                                    </div>
                                    <div class="col-md-2">
                                        <strong class="table-column-name">Class Average</strong>
                                    </div>
                                    <div class="col-md-2">
                                        <strong class="table-column-name">Grader's Comment</strong>
                                    </div>
                                </div>
                                <hr class="main-no-margin-top hide-small-grid"/>
                            </div>

                            <div class="container-fluid">
                                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                    {% for assignment in assignments %}
                                        <div class="row hide-small-grid">
                                            <div class="col-md-2">{{assignment.assignment.description}}</div>
                                            <div class="col-md-2">
                                                {% if assignment.due_date %}{{assignment.due_date.date}}{% endif %}
                                            </div>
                                            <div class="col-md-2 text-center">{{assignment.points_earned|floatformat}}/{{assignment.points_possible|floatformat}}</div>
                                            <div class="col-md-2 text-center">{{assignment.points_earned|divide:assignment.points_possible|multiply:100|floatformat}}%</div>
                                            <div class="col-md-2 text-center">{{assignment.class_points_earned|divide:assignment.class_points_possible|multiply:100|floatformat}}%</div>
                                            <div class="col-md-2">
                                                {% if assignment.grader_comment %}
                                                    <span>
                                                        <span id="comment-title-{{assignment.assignment.id}}">View Comment</span>
                                                        <a class="assignment-button" role="button">
                                                            <img id="plus-button-{{assignment.assignment.id}}" class="assignment-button" src="{{baseUrl}}seumich/images/Dropdown_Plus.png" alt="Expand"/>
                                                            <img id="minus-button-{{assignment.assignment.id}}" class="assignment-button" src="{{baseUrl}}seumich/images/Dropdown_Minus.png" alt="Expand"/>
                                                        </a>
                                                        <p id="assignment-grader-comment-{{assignment.assignment.id}}">&quot;{{assignment.grader_comment}}&quot;</p>
                                                    </span>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading" role="tab" id="heading{{assignment.assignment.code}}">
                                                <h4 class="panel-title">
                                                    <span class="assignment-title">{{assignment.assignment.description }}</span>
                                                    <span class="assignment-title-right">
                                                        <span class="assignment-title-score">{{assignment.points_earned|divide:assignment.points_possible|multiply:100|floatformat}}%</span>
                                                        <a
                                                            class="assignment-button"
                                                            id="{{assignment.assignment.code}}"
                                                            role="button"
                                                            data-toggle="collapse"
                                                            data-parent="#accordion"
                                                            data-target="#collapse{{assignment.assignment.code}}"
                                                            onclick="toggleAssignment(this)"
                                                            aria-expanded="true"
                                                            aria-controls="collapse{{assignment.assignment.code}}">
                                                            <img class="assignment-button" id="assignmentButton{{assignment.assignment.code}}" src="{{baseUrl}}seumich/images/Dropdown_Plus.png" alt="Expand"/>
                                                        </a>
                                                    </span>
                                                </h4>
                                            </div>
                                            <div id="collapse{{assignment.assignment.code}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{assignment.assignment.code}}">
                                                <div class="panel-body">
                                                    <div class="assignment-row">
                                                        <div class="assignment-detail assignment-detail-left">
                                                            <span class="assignment-detail-bold mobile-div">Due Date:</span>
                                                            {% if assignment.due_date %}{{assignment.due_date.date}}{% endif %}
                                                        </div>
                                                        <div class="assignment-detail assignment-detail-right">
                                                            <span class="assignment-detail-bold mobile-div">Score:</span>{{assignment.points_earned|floatformat}}/{{assignment.points_possible|floatformat}}</div>
                                                    </div>
                                                    <div class="assignment-row assignment-row-lower">
                                                        <div class="assignment-detail assignment-detail-left">
                                                            <span class="assignment-detail-bold">Student's Grade</span>
                                                            <br>
                                                            <span class="assignment-detail-grade">{{assignment.points_earned|divide:assignment.points_possible|multiply:100|floatformat}}%</span>
                                                        </div>
                                                        <div class="assignment-detail assignment-detail-right">
                                                            <span class="assignment-detail-bold">Class Average</span>
                                                            <br>
                                                            <span class="assignment-detail-grade">{{assignment.class_points_earned|divide:assignment.class_points_possible|multiply:100|floatformat}}%</span>
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <div class="assignment-detail-comment">
                                                            <span class="assignment-detail-bold">Comments</span>
                                                            <br>{{assignment.grader_comment}}</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <hr class="main-no-margin-top hide-small-grid"/>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}
