{% load filters %}

<h2 class="student-detail-summary-title">Student Summary</h2>
<hr class="main-no-margin-top" />
<div class="student-detail-summary-content">{% include 'seumich/student_class_site_list.html' %}</div>
<div class="student-info">
    <strong><a class="unsortable">Advisors: </a></strong> {% for advisor in advisors %}
    <p class="advisor-names">
        <a href="/advisors/{{advisor.username}}/">{{ advisor.first_name }} {{ advisor.last_name }}</a>
        <span class="glyphicon glyphicon-info-sign comma" aria-hidden="true" title="{{ advisor.studentcohortmentor_set.all|get_student_cohort:student }}" data-toggle="tooltip" data-placement="bottom" tooltip></span>
    </p>
    {% endfor %}
</div>
