{% extends 'seumich/student.html' %}
{% load filters %}

{% block head %}
    {% load staticfiles %}
    <script src='{% static "seumich/student.js" %}'></script>
{% endblock %}

{% block content %}

    <div class="container-fluid content">
        <div class="student-detail-main-menu">
            <div class="student-detail-main-menu-top">
                {% include 'seumich/student_info_partial.html' with link_present=False %}
            </div>
        </div>
        <div class="student-detail-main">
            <h2>Courses Summary</h2>
            <hr class="main-no-margin-top"/>
            <div class="student-detail-summary-content">
                <div>
                    {% if not classSites %}
                        <div>
                            <p>There is no class site data for this student.</p>
                        </div>
                    {% else %}
                        <div class="container-fluid">
                            <div class="row hide-small-grid">
                                <div class="col-md-2">
                                    <strong class="table-column-name">Course Site</strong>
                                </div>
                                <div class="col-md-2">
                                    <strong class="table-column-name">Status</strong>
                                </div>
                                <div class="col-md-8">
                                    <strong class="table-column-name">Current Percentage</strong>
                                </div>
                            </div>
                            <hr class="main-no-margin-top hide-small-grid"/>
                            <div class="row">
                                <div class="col-md-4"></div>
                                <div class="col-md-2 mobile-inline">
                                    <p class="legend-text">
                                        <span class="legend-key student-legend-key"></span>Student</p>
                                </div>
                                <div class="col-md-2 mobile-inline">
                                    <p class="legend-text">
                                        <span class="legend-key class-legend-key"></span>Class Average</p>
                                </div>
                            </div>
                        </div>
                        <div class="container-fluid">
                            {% for classSite in classSites %}
                                <hr class="main-no-margin-top hide-small-grid"/>
                                <div class="row student-desc">
                                    <div class="col-md-2 mobile-inline">
                                        <a class="class-site-title" href="/students/{{student.username}}/class_sites/{{classSite.code}}/">
                                            <h3 class="student-course-list">{{ classSite.description }}</h3>
                                        </a>
                                    </div>
                                    <div class="col-md-2 mobile-inline status-icon">
                                        {% with status=student.studentclasssitestatus_set.all|get_student_class_status:classSite %}
                                        <span data-toggle="tooltip" title="{{ status|status_to_text }}" data-placement="bottom">
                                            {% if status == 'Green' %}
                                                <img src="{{ baseUrl }}images/Status_Icons_Green.png" alt="Green encourage status icon" width="25px" hspace="3"></img>
                                            {% elif status == 'Yellow' %}
                                                <img src="{{ baseUrl }}images/Status_Icons_Yellow.png" alt="Yellow explore status icon" width="25px" hspace="3"></img>
                                            {% elif status == 'Red' %}
                                                <img src="{{ baseUrl }}images/Status_Icons_Red.png" alt="Red engage status icon" width="25px" hspace="3"></img>
                                            {% elif status == 'Not Applicable' %}
                                                <img src="{{ baseUrl }}images/Status_Icons_Not Applicable.png" alt="no status available for this course icon" width="25px" hspace="3"></img>
                                            {% endif %}
                                        </span>
                                        {% endwith %}
                                    </div>
                                    <div class="col-md-8">
                                        {% with student_class_score=student.studentclasssitescore_set.all|get_student_score:classSite %}
                                        <div class="average-bar-container">
                                            <div
                                                class="average-bar student-average-bar"
                                                role="progressbar"
                                                aria-valuenow="{{ student_class_score }}"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: {{ student_class_score }}%;">
                                                <p class="average-bar-text">{{ student_class_score }}%</p>
                                                <span class="sr-only">Student Percentage:
                                                    {{ student_class_score }}%</span>
                                            </div>
                                        </div>
                                        {% endwith %}
                                        {% with class_score=classSite.classsitescore_set.all|get_class_score %}
                                        <div class="average-bar-container">
                                            <div class="average-bar class-average-bar" role="progressbar" aria-valuenow="{{ class_score }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ classSite.classsitescore_set.all|get_class_score }}%;">
                                                <p class="average-bar-text">{{ class_score }}%</p>
                                                <span class="sr-only">Class Average Percentage:
                                                    {{ class_score }}%</span>
                                            </div>
                                        </div>
                                        {% endwith %}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="student-info">
                <strong>
                    <a class="unsortable">Advisors:
                    </a>
                </strong>
                {% for advisor in advisors %}
                    <p class="advisor-names">
                        <a href="/advisors/{{advisor.username}}/">{{ advisor.first_name }}
                            {{ advisor.last_name }}</a>
                        <span class="glyphicon glyphicon-info-sign comma" aria-hidden="true" title="{{ advisor.studentcohortmentor_set.all|get_student_cohort:student }}" data-toggle="tooltip" data-placement="bottom" tooltip></span>
                    </p>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
