<th colspan="{{colspan|default:"1"}}" class="ts-pager form-inline">
    <div class="btn-group btn-group-sm" role="group">
        <button type="button" class="btn btn-default first"><span
                class="glyphicon glyphicon-step-backward"></span></button>
        <button type="button" class="btn btn-default prev"><span
                class="glyphicon glyphicon-backward"></span></button>
    </div>
    <span class="pagedisplay"></span>
    <div class="btn-group btn-group-sm" role="group">
        <button type="button" class="btn btn-default next"><span
                class="glyphicon glyphicon-forward"></span></button>
        <button type="button" class="btn btn-default last"><span
                class="glyphicon glyphicon-step-forward"></span></button>
    </div>
    <select class="form-control input-sm pagesize" title="Select page size">
        <option selected="selected" value="10">10</option>
        <option value="20">20</option>
        <option value="30">30</option>
        <option value="all">All Rows</option>
    </select>
    <select class="form-control input-sm pagenum" title="Select page number"></select>
</th>