<div ng-if="advisor" ng-cloak>
    <h2 class="sub-header">{{advisor.first_name}} {{advisor.last_name}}</h2>
    <hr class="main-no-margin-top"/>
    <h3 ng-if="advisor">Students</h3>
    <div ng-if="advisor" ng-include="'views/student_list.html'" class="main-page-end-margin-bottom"></div>
</div>

<div ng-if="notFound" class="panel panel-warning not-found">
  <div class="panel-heading">
    <h3 class="panel-title">Not Found</h3>
  </div>
  <div class="panel-body">
    No advisor profile found ({{advisorUsername}}).
  </div>
</div>
