<h2 ng-if="advisorListHeader" class="sub-header">{{advisorListHeader}}</h2>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <td>
          <a href="" ng-click="sortType = 'last_name'; sortReverse = !sortReverse">
            Name
            <span class="fa fa-caret-down" ng-show="sortType == 'last_name' &amp;&amp; !sortReverse"></span>
            <span class="fa fa-caret-up" ng-show="sortType == 'last_name' &amp;&amp; sortReverse"></span>
          </a>
        </td>
        <td>
          <a href="" ng-click="sortType = 'univ_id'; sortReverse = !sortReverse">
            Advisor ID
            <span class="fa fa-caret-down" ng-show="sortType == 'univ_id' &amp;&amp; !sortReverse"></span>
            <span class="fa fa-caret-up" ng-show="sortType == 'univ_id' &amp;&amp; sortReverse"></span>
          </a>
        </td>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="advisor in advisors | orderBy:sortType:sortReverse | filter:searchAdvisor">
        <td class="bold">
          <a href="#/advisors/{{advisor.username}}">{{ advisor.first_name }}
            {{ advisor.last_name }}</a>
        </td>
        <td>{{ advisor.univ_id }}</td>
      </tr>
    </tbody>
  </table>
</div>
