<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">
        <a href="" ng-click="sortTypeAssignment = 'assignment.description'; sortReverse = !sortReverse">
      Assignment
      <span class="fa fa-caret-down" ng-show="sortTypeAssignment == 'assignment.description' &amp;&amp; !sortReverse"><span class="sr-only"> (ascending sort)</span></span>
      <span class="fa fa-caret-up" ng-show="sortTypeAssignment == 'assignment.description' &amp;&amp; sortReverse"><span class="sr-only"> (descending sort)</span></span>
    </a>
      </th>
      <th scope="col">
        <a href="" ng-click="sortTypeAssignment = 'due_date'; sortReverse = !sortReverse">
      Due Date
      <span class="fa fa-caret-down" ng-show="sortTypeAssignment == 'due_date' &amp;&amp; !sortReverse"><span class="sr-only"> (descending sort)</span></span>
      <span class="fa fa-caret-up" ng-show="sortTypeAssignment == 'due_date' &amp;&amp; sortReverse"><span class="sr-only"> (ascending sort)</span></span>
    </a>
      </th>
      <th scope="col">
        <a class="unsortable">Points Earned/Possible</a>
      </th>
      <th scope="col">
        <a class="unsortable">Student Percentage</a>
      </th>
      <th scope="col">
        <a class="unsortable">Class Average</a>
      </th>
      <th scope="col">
        <a class="unsortable">Grader's Comment</a>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="assignment in assignments | orderBy:sortTypeAssignment:sortReverse | filter:searchAdvisor">
      <th scope="row">{{assignment.assignment.description}}</th>
      <td>{{assignment.due_date | date}}</td>
      <td>{{assignment.points_earned}} / {{assignment.points_possible}}</td>
      <td>{{assignment.points_earned / assignment.points_possible * 100 | number:1}}%</td>
      <td>{{assignment.class_points_earned / assignment.class_points_possible * 100 | number:1}}%</td>
      <td class="assignment-comment-cell">
        <span ng-if="assignment.grader_comment != '' &amp;&amp; assignment.grader_comment != null">
          <span ng-show="!showComment">View</span><span ng-show="showComment">Hide</span> Comment
          <a class="assignment-button" role="button" ng-click="showComment = !showComment">
            <img class="assignment-button" ng-show="!showComment" src="images/Dropdown_Plus.png" alt="Expand"/>
            <img class="assignment-button" ng-show="showComment" src="images/Dropdown_Minus.png" alt="Expand"/>
          </a>
          <p ng-show="showComment">&quot;{{assignment.grader_comment}}&quot;</p>
        </span>
      </td>
    </tr>
  </tbody>
</table>
