<div class="col-lg-12">

  <h2 class="sub-header">{{student.first_name}} {{student.last_name}}
    <a class="pull-right backlink" href="#/students/{{student.username}}/">
      < Back to Course List<p>
    </a>
  </h2>


  <hr class="main-no-margin-top" />
  <h3 class="main-h3">Course Site: {{classSite.class_site.description}}</h3>
  <p>
    <img alt="{{classSite.status}}" class="class-site-status {{ classSite.status | lowercase }}" ng-src="images/Status_Icons_{{classSite.status}}.png" />
    <span class="label label-primary">{{classSite.class_site.source_system}}</span>
  </p>

  <div class="row">
    <div class="col-lg-6">
      <nvd3-line-plus-bar-chart data="scoreData" id="scoreChart" width="540" margin="{left:73}" xAxisTickFormat="xAxisTickFormatFunction()" y1AxisLabel="{{y1axislabeltext}}" y2AxisLabel="{{y2axislabeltext}}" y1AxisTickFormat="y1AxisTickFormat()" forceY="[0,100]"
      legendWidth="400" showLegend="true" interactive="true" useInteractiveGuideLine="true" tooltips="true" forcey="[0,100]" xAxisLabel="Weeks">
        <svg></svg>
      </nvd3-line-plus-bar-chart>

      <div class="graph-caption">Score History</div>
    </div>


    <div class="col-lg-6">
      <nvd3-multi-bar-chart data="eventData" id="exampleId" width="530" height="350" margin="{left:73}" showXAxis="true" showYAxis="true" showLegend="true" forcey="[0,100]" interactive="true" useInteractiveGuideLine="true" tooltips="true" xAxisTickFormat="xAxisTickFormatFunction()"
      isArea="true" noData="No Data For You!" xAxisLabel="Weeks" yAxisLabel="Percentile">
        <svg></svg>
      </nvd3-multi-bar-chart>
      <div class="graph-caption">Activity History</div>
    </div>
  </div>

  <div class="row site-history">
    <h3 class="main-less-weight">Course Site History</h3>
    <hr class="main-no-margin-top">
    <div ng-if="!(historyLength > 0)">
      <p>There is no course site history data for this student.</p>
    </div>
    <div ng-if="historyLength > 0" class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <td>
              <a href="" ng-click="sortTypeHistory = 'week_end_date'; sortReverse = !sortReverse">
            Date
            <span class="fa fa-caret-down" ng-show="sortTypeHistory == 'assignment.description' &amp;&amp; !sortReverse"></span>
            <span class="fa fa-caret-up" ng-show="sortTypeHistory == 'assignment.description' &amp;&amp; sortReverse"></span>
          </a>
            </td>
            <td>
              <a>Status</a>
            </td>
            <td>
              <a>Student Percentage</a>
            </td>
            <td>
              <a>Class Percentage</a>
            </td>
            <td>
              <a>Event Count</a>
            </td>
            <td>
              <a>Activity Percentile Rank</a>
            </td>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="entry in classSiteHistory | orderBy:sortTypeHistory:sortReverse | filter:searchAdvisor">
            <td>Week {{entry.week_number}} ({{entry.week_end_date | date}})</td>
            <td>
              <img alt="{{entry.status}}" class="class-site-status {{ entry.status | lowercase }}" ng-src="images/Status_Icons_{{entry.status}}.png" />
            </td>
            <td>{{entry.score}}</td>
            <td>{{entry.class_score}}</td>
            <td>{{entry.event_count}}</td>
            <td>{{entry.event_percentile_rank}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row assignments">
    <h3 class="main-less-weight">Assignments</h3>
    <hr class="main-no-margin-top">
    <div ng-if="assignments.length == 0">
      <p>There is no assignment data for this student.</p>
    </div>
    <div ng-if="assignments.length > 0" class="table-responsive main-page-end-margin-bottom">
      <table class="table table-striped">
        <thead>
          <tr>
            <td>
              <a href="" ng-click="sortTypeAssignment = 'assignment.description'; sortReverse = !sortReverse">
            Assignment
            <span class="fa fa-caret-down" ng-show="sortTypeAssignment == 'assignment.description' &amp;&amp; !sortReverse"></span>
            <span class="fa fa-caret-up" ng-show="sortTypeAssignment == 'assignment.description' &amp;&amp; sortReverse"></span>
          </a>
            </td>
            <td>
              <a href="" ng-click="sortTypeAssignment = 'due_date'; sortReverse = !sortReverse">
            Due Date
            <span class="fa fa-caret-down" ng-show="sortTypeAssignment == 'due_date' &amp;&amp; !sortReverse"></span>
            <span class="fa fa-caret-up" ng-show="sortTypeAssignment == 'due_date' &amp;&amp; sortReverse"></span>
          </a>
            </td>
            <td>
              <a>Included in Grade</a>
            </td>
            <td>
              <a>Points Earned</a>
            </td>
            <td>
              <a>Points Possible</a>
            </td>
            <td>
              <a href="" ng-click="sortTypeAssignment = 'weight'; sortReverse = !sortReverse">
            Weight
            <span class="fa fa-caret-down" ng-show="sortTypeAssignment == 'weight' &amp;&amp; !sortReverse"></span>
            <span class="fa fa-caret-up" ng-show="sortTypeAssignment == 'weight' &amp;&amp; sortReverse"></span>
          </a>
            </td>
            <td>
              <a>Grader's Comment</a>
            </td>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="assignment in assignments | orderBy:sortTypeAssignment:sortReverse | filter:searchAdvisor">
            <td>{{assignment.assignment.description }}</td>
            <td>{{assignment.due_date | date}}</td>
            <td>{{assignment.included_in_grade}}</td>
            <td>{{assignment.points_earned}}</td>
            <td>{{assignment.points_possible}}</td>
            <td>{{assignment.weight}}</td>
            <td>
              <span ng-if="assignment.grader_comment != '' &amp;&amp; assignment.grader_comment != null" 
                  class="glyphicon glyphicon-comment" aria-hidden="true"
                  title="{{assignment.grader_comment}}"
                  data-toggle="tooltip" data-placement="bottom" tooltip></span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <dig-data-fetch-progress progress="{{progress}}"></dig-data-fetch-progress>
</div>
