<h2 ng-if="classSiteListHeader" class="sub-header">{{classSiteListHeader}}</h2>
<div ng-if="classSites.length == 0">
  <p>There is no class site data for this student.</p>
</div>
<div ng-if="classSites.length > 0" class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>
          <a href="" ng-click="sortType = 'class_site.description'; sortReverse = !sortReverse">
            Class Site
            <span class="fa fa-caret-down" ng-show="sortType == 'class_site.description' &amp;&amp; !sortReverse"></span>
            <span class="fa fa-caret-up" ng-show="sortType == 'class_site.description' &amp;&amp; sortReverse"></span>
          </a>
      </th>
        <th>
          <a>Status</a>
      </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="classSite in classSites | orderBy:sortType:sortReverse | filter:searchAdvisor">
        <td class="bold"><a href="#/students/{{student.username}}/class_sites/{{classSite.class_site.code}}">{{ classSite.class_site.description }}</a></td>
        <td>
          <img alt="{{classSite.status}}" class="class-site-status {{ classSite.status | lowercase }}" ng-src="images/Status_Icons_{{classSite.status}}.png"/>
      	</td>
      </tr>
    </tbody>
  </table>
</div>
