<h2 ng-if="studentListHeader" class="sub-header">{{studentListHeader}}</h2>
<div class="table-responsive">
<table class="table table-striped">
  <thead>
    <tr>
      <td>
        <a href="" ng-click="sortType = 'last_name'; sortReverse = !sortReverse">
          Name
          <span class="fa fa-caret-down" ng-show="sortType == 'last_name' &amp;&amp; !sortReverse"></span>
          <span class="fa fa-caret-up" ng-show="sortType == 'last_name' &amp;&amp; sortReverse"></span>
        </a>
      </td>
      <td class="hide-small">
        <a href="" ng-click="sortType = 'univ_id'; sortReverse = !sortReverse">
          Student ID
          <span class="fa fa-caret-down" ng-show="sortType == 'univ_id' &amp;&amp; !sortReverse"></span>
          <span class="fa fa-caret-up" ng-show="sortType == 'univ_id' &amp;&amp; sortReverse"></span>
        </a>
      </td>
      <td>
        <a href="" ng-click="sortType = 'status_weight'; sortReverse = !sortReverse">
          Status
          <span class="fa fa-caret-down" ng-show="sortType == 'status_weight' &amp;&amp; !sortReverse"></span>
          <span class="fa fa-caret-up" ng-show="sortType == 'status_weight' &amp;&amp; sortReverse"></span>
        </a>
      </td>
      <td class="hide-small">
        <a href="" ng-click="sortType = 'cohorts'; sortReverse = !sortReverse">
          Cohorts
          <span class="fa fa-caret-down" ng-show="sortType == 'cohorts' &amp;&amp; !sortReverse"></span>
          <span class="fa fa-caret-up" ng-show="sortType == 'cohorts' &amp;&amp; sortReverse"></span>
        </a>
      </td>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="student in students | orderBy:sortType:sortReverse | filter:searchStudent">
      <td class="bold">
        <a href="#/students/{{student.username}}/">{{ student.first_name }}
          {{ student.last_name }}</a>
      </td>
      <td class="hide-small">{{ student.univ_id }}</td>
      <td>
        <img alt="{{status}}" class="class-site-status {{ status | lowercase }}" ng-repeat="status in student.statuses track by $index" ng-src="images/Status_Icons_{{status}}.png"/>
      </td>
      <td class="hide-small">
          <div ng-repeat="cohort in student.cohorts">{{ cohort }}</div>
      </td>
    </tr>
  </tbody>
</table>
</div>

<dig-data-fetch-progress progress="{{progress}}" />
