<div ng-controller="StudentCtrl as ctrl" ng-cloak>

	<div flex layout="row">

	<md-content class="student-page">
	  <div flex layout="column" tabIndex="-1" role="main" class="md-whiteframe-z2">
	    <md-toolbar >
	      <div class="md-toolbar-tools" >
	        <md-button class="md-icon-button back-button" aria-label="Settings" ng-click="ctrl.goToDashboard(ctrl.selectedAdvisorName)">
	          <md-icon md-font-library="material-icons">arrow_back</md-icon>
	        </md-button>
	        <h1><span>{{ctrl.selected.last_name}}, {{ctrl.selected.first_name}}</span></h1>
	      </div>
	    </md-toolbar>
	  </div>

	  <div layout="row" layout-sm="column">
	    <md-content id="content">
	      <div class="tb filter-table">
	        <table class="table table-bordered table-striped">
	          <thead>
	            <tr>
	              <td><a>Key<a></td>
	            </tr>
	          </thead>
	          <tbody>
	            <tr>
	              <td class="side-title">
	                <ul style="list-style-type:none">
	                  <li ng-repeat="icon in ctrl.icons"><img ng-src="{{icon.url}}" alt="{{icon.name}}"/>{{icon.name}}</li>
	                  <li ng-repeat="icon in ctrl.additionalIcons"><img ng-src="{{icon.url}}" alt="{{icon.name}}"/>{{icon.name}}</li>
	                </ul>
	              </td>
	            </tr>
	          </tbody>
	        </table>
	      </div><!-- comment used for removing the gap
	   --><div class="tb student-table">
	        <table class="table table-bordered table-striped">
	          <thead>
	            <tr class="center">
	              <td>
	                <a>Course</a>
	              </td>
	              <td ng-if="ctrl.hasStudentStanding">
	                <a>Student Standing</a>
	              </td>
	              <td ng-if="ctrl.hasStudentGrade">
	                <a>Student Grade</a>
	              </td>
	              <td ng-if="ctrl.hasClassAverage">
	                <a>Class Average</a>
	              </td>
	            </tr>
	          </thead>
	          <tbody>
	            <tr ng-repeat="class in ctrl.selected.class_sites">
	              <td>
	                <img ng-repeat="icon in ctrl.icons" ng-if="class.status == icon.color" ng-src="{{icon.url}}" alt="{{icon.name}}" />
	                {{class.class_site}}
	              </td>
	              <td ng-if="ctrl.hasStudentStanding">
	                <div class="progress">
	                  <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width:{{class.student_grade}}"><b style="left:{{class.class_average}}"></b></div>
	                  <!-- <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width:70%"><b style="left:85%"></b></div> -->
	                </div>
	              </td>
	              <td ng-if="ctrl.hasStudentGrade" class="center">
	                {{class.student_grade}}
	              </td>
	              <td ng-if="ctrl.hasClassAverage" class="center">
	                {{class.class_average}}
	              </td>
	            </tr>
	          </tbody>
	        </table>
	      </div><!-- comment used for removing the gap
	   --><div class="tb info-table">
	        <table class="table table-bordered table-striped">
	          <tbody>
	            <tr>
	              <td class="short-td"><p class="bold">Student ID</p></td>
	              <td><p>{{ctrl.selected.univ_id}}</p></td>
	            </tr>
	            <tr>
	              <td class="short-td"><p class="bold">Cohorts</p></td>
	              <td><p ng-repeat="cohort in ctrl.selected.cohorts">{{cohort.description}}</p></td>
	            </tr>
	            <tr>
	              <td class="short-td"><p class="bold">Advisors</p></td>
	              <td><p ng-repeat="advisor in ctrl.selected.advisors">{{advisor.advisor.last_name}}, {{advisor.advisor.first_name}} ({{advisor.role}})</p></td>
	            </tr>
	            <tr>
	              <td class="short-td"><p class="bold">Year</p></td>
	              <td><p>{{ ctrl.selected.year }}</p></td>
	            </tr>
	            <tr>
	              <td class="short-td"><p class="bold">GPA</p></td>
	              <td><p>{{ ctrl.selected.GPA }}</p></td>
	            </tr>
	            <tr>
	              <td class="short-td"><p class="bold">Program</p></td>
	              <td><p></p></td>
	            </tr>
	          </tbody>
	        </table>
	      </div>
	    </md-content>
	  </div>
	</md-content>

	</div>
</div>
<hr/>
<center class="smallnote"><p>Copyright &copy; 2015 The Regents of the Univerisity of Michigan</p></center>
