<h2 ng-if="studentListHeader" class="sub-header">{{studentListHeader}}</h2>
<div ng-if="students.length == 0" class="panel panel-warning">
  <div class="panel-heading">
    <h3 class="panel-title">No Results</h3>
  </div>
  <div class="panel-body">
    No students found that match the query terms.
  </div>
</div>

<div ng-if="students.length > 0" class="table-responsive">
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">
        <a href="" ng-click="sortType = 'last_name'; sortReverse = !sortReverse">
          Name
          <span class="fa fa-caret-down" ng-show="sortType == 'last_name' &amp;&amp; !sortReverse"><span class="sr-only"> (ascending sort)</span></span>
          <span class="fa fa-caret-up" ng-show="sortType == 'last_name' &amp;&amp; sortReverse"><span class="sr-only"> (descending sort)</span></span>
        </a>
      </th>
      <th scope="col" class="hide-small">
        <a href="" ng-click="sortType = 'univ_id'; sortReverse = !sortReverse">
          Student ID
          <span class="fa fa-caret-down" ng-show="sortType == 'univ_id' &amp;&amp; !sortReverse"><span class="sr-only"> (ascending sort)</span></span>
          <span class="fa fa-caret-up" ng-show="sortType == 'univ_id' &amp;&amp; sortReverse"><span class="sr-only"> (descending sort)</span></span>
        </a>
      </th>
      <th scope="col">
        <a href="" ng-click="sortType = 'status_weight'; sortReverse = !sortReverse">
          Status
          <span class="fa fa-caret-down" ng-show="sortType == 'status_weight' &amp;&amp; !sortReverse"><span class="sr-only"> (ascending sort)</span></span>
          <span class="fa fa-caret-up" ng-show="sortType == 'status_weight' &amp;&amp; sortReverse"><span class="sr-only"> (descending sort)</span></span>
        </a>
      </th>
      <th scope="col" class="hide-small">
        <a href="" ng-click="sortType = 'cohorts'; sortReverse = !sortReverse">
          Cohorts
          <span class="fa fa-caret-down" ng-show="sortType == 'cohorts' &amp;&amp; !sortReverse"><span class="sr-only"> (ascending sort)</span></span>
          <span class="fa fa-caret-up" ng-show="sortType == 'cohorts' &amp;&amp; sortReverse"><span class="sr-only"> (descending sort)</span></span>
        </a>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="student in students | orderBy:sortType:sortReverse | filter:searchStudent">
      <th scope="row" class="bold">
        <a href="#/students/{{student.username}}/">{{ student.first_name }}
          {{ student.last_name }}</a>
      </th>
      <td class="hide-small">{{ student.univ_id }}</td>
      <td>
        <a href="#/students/{{ student.username }}/class_sites/{{ class_site_status.class_site_code }}/"
           class="class-site-status-link"
           ng-repeat="class_site_status in student.class_site_statuses track by $index"
           status-tooltip status="class_site_status.status"
           tooltiptext="class_site_status.name + ': ' + (class_site_status.status | colorToStatus)">
        </a>
      </td>
      <td class="hide-small">
          <div ng-repeat="cohort in student.cohorts">{{ cohort }}</div>
      </td>
    </tr>
  </tbody>
</table>
</div>

<dig-data-fetch-progress progress="{{progress}}" />
