<h2 class="sub-header">{{student.first_name}} {{student.last_name}}</h2>
<hr class="main-no-margin-top"/>

<div class="col-sm-8">
    <div ng-include="'views/class_site_list.html'" ></div>
</div>

<div class="student-info col-sm-4 well">
    <div class="table-responsive">
      <table class="table">
        <tbody>
          <tr>
            <th><a>Student ID</a></th>
            <td>{{ student.univ_id }}</td>
          </tr>
          <tr>
            <th><a>Advisors</a></th>
            <td><p ng-repeat="advisor in advisors" title="{{advisor.role}}">
                {{ advisor.advisor.first_name }} {{ advisor.advisor.last_name }}
            </p></td>
          </tr>
        </tbody>
      </table>
    </div>
</div>
