<div class="row no-margin">
  <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
    <h3 class="main-h3">
      Course Site: {{ classSite.class_site.description }}
      <span class="student-detail-class-site-status" status-tooltip status="classSite.status" tooltiptext="classSite.status | colorToStatus"></span>
    </h3>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
    <div class="pull-right"><br>Data Source: <span class="label label-primary">{{classSite.class_site.source_system}}</span></div>
  </div>
</div>
<hr class="main-no-margin-top" />

<div class="row charts no-margin">
  <h3 class="main-less-weight">Cumulative Score</h3>
  <nvd3-multi-bar-chart
    data="scoreData"
    id="assignments-chart"
    yAxisTickFormat="scoreYTickFormat()"
    xAxisTickFormat="xTickFormat()"

    showXAxis="true"
    showYAxis="true"
    xAxisLabel="Week"
    showLegend="true"
    showControls="false"
    forceY="[0,100]"
    interactive="true"
    tooltips="true"
    >
      <svg />
  </nvd3-multi-bar-chart>
  <h3 class="main-less-weight">Weekly Activity</h3>
  <nvd3-multi-bar-chart
    data="activityData"
    id="activity-chart"
    yAxisTickFormat="activityYTickFormat()"
    xAxisTickFormat="xTickFormat()"

    showXAxis="true"
    showYAxis="true"
    xAxisLabel="Week"
    showLegend="true"
    showControls="false"
    forceY="[0,100]"
    interactive="true"
    tooltips="true"
    >
      <svg />
  </nvd3-multi-bar-chart>
</div>

<div class="row assignments no-margin">
  <h3 class="main-less-weight">Assignments</h3>
  <p><small class="note">Note that this list may not reflect all assignments included in current score calculation. For a complete list, please refer to the source system.</small></p>
  <!-- <a href="api/class_sites/{{classSite.class_site.code}}/student/{{student.username}}/assignments/download/"><button>Download Assignment</button></a> -->
  <hr class="main-no-margin-top">
  <div ng-if="assignments.length == 0" class="panel panel-info">
    <div class="panel-body">
      No assignments found for this student.
    </div>
  </div>

  <div ng-if="assignments.length > 0" class="table-responsive main-page-end-margin-bottom">
    <div class="assignment-table" ng-include src="'views/assignment_list_table.html'"></div>
    <div class="assignment-list" ng-include src="'views/assignment_list.html'"></div>
  </div>
</div>

<dig-data-fetch-progress progress="{{progress}}"></dig-data-fetch-progress>
