<!doctype html>
<html class="no-js" ng-app="sespaApp" ng-controller="SespaAppCtrl as sespaApp" ng-cloak>
  <head>
    <meta charset="utf-8">
    <title>Student Explorer</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="images/Status_Icons_Red.png" type="image/x-icon">
    <link rel="icon" href="images/Status_Icons_Red.png" type="image/x-icon">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/angular-rangeslider/angular.rangeSlider.css" />
    <link rel="stylesheet" href="bower_components/nvd3/nv.d3.css"/>
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body>
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#/">Student Explorer</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="#/advisors">Advisors</a></li>
          </ul>
          <form ng-submit="studentSearch()" class="navbar-form navbar-right">
            <input ng-model="search" type="text" class="form-control" placeholder="Search Students...">
          </form>
            <ul class="nav navbar-nav navbar-right">
              <li ng-if="!userInfo.username">
                <a ng-href="{{config.login}}?next=/" aria-haspopup="true" aria-expanded="false">Login</a>
              </li>
              <li ng-if="userInfo.username" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{userInfo.username}} <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><p><strong>{{userInfo.first_name}} {{userInfo.last_name}}</strong></p></li>
                  <li role="separator" class="divider"></li>
                  <!-- <li class="dropdown-header">Nav header</li> -->
                  <li ng-if="userInfo.profile.is_policy_accepted">
                    <p>
                      You accepted the 
                      <a href="https://wolverineaccess.umich.edu/eac/accesscomplianceresponse.jsp">University's Access &amp; Compliance policy</a>
                      on {{userInfo.profile.policy_accepted_date | date}}
                    </p>
                  </li>
                  <li ng-if="!userInfo.profile.is_policy_accepted" class="policy-warning">
                    <p>
                      You haven't accepted the 
                      <a href="https://wolverineaccess.umich.edu/eac/accesscomplianceresponse.jsp">University's Access &amp; Compliance policy</a>
                      yet.
                    </p>
                  </li>
                  <li role="separator" class="divider"></li>
                  <li><a ng-href="{{config.logout}}?next=/">Logout</a></li>
                </ul>
              </li>
            </ul>

        </div>
      </div>
    </nav>
    
    <div class="alert-container">
      <div ng-if="!userInfo.profile.is_policy_accepted" class="alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Warning!</strong> You haven't accepted the 
          <a href="https://wolverineaccess.umich.edu/eac/accesscomplianceresponse.jsp">University's Access &amp; Compliance policy</a>
          yet.
      </div>
    </div>

    <div class="container content">
        <div ng-view></div>
    </div>

    <div class="footer">
      <div class="container">
        <p>Copyright &copy; 2015 The Regents of the Univerisity of Michigan</p>
      </div>
    </div>


    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <!-- <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script> -->

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-rangeslider/angular.rangeSlider.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angularjs-nvd3-directives/dist/angularjs-nvd3-directives.js"></script>
    <script src="bower_components/d3/d3.js"></script>
    <script src="bower_components/nvd3/nv.d3.js"></script> 

    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/advisor_list.js"></script>
        <script src="scripts/controllers/student_list.js"></script>
        <script src="scripts/controllers/advisor_detail.js"></script>
        <script src="scripts/services/advising_data.js"></script>
        <script src="scripts/controllers/sespa_app.js"></script>
        <script src="scripts/controllers/student_detail.js"></script>
        <script src="scripts/controllers/class_site_list.js"></script>
        <script src="scripts/controllers/class_site_detail.js"></script>
        <script src="scripts/controllers/student_search.js"></script>
        <script src="scripts/directives/dig_data_fetch_progress.js"></script>
        <script src="scripts/services/advising_utilities.js"></script>
      
        <!-- endbuild -->
</body>
</html>
