{% extends 'management/base.html' %}

{% block management %}
    <p>Add two columns: student uniqname and mentor uniqname. Separate the columns with tabs, spaces or commas.</p>
    <hr/>

    <form enctype="multipart/form-data" action="" method="post">{% csrf_token %}
        {% for field in form %}
            <div class="form-group {% if field.errors %} has-error {% endif %}">
                {{ field.errors }}
                {{ field.label_tag }}
                {{ field }}
            </div>
        {% endfor %}
        <input type="submit" class="btn btn-success" value="Submit"/>
    </form>

{% endblock %}
