{% extends 'management/base.html' %}

{% block management %}
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Code</th>
                <th>Description</th>
                <th>Group</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for cohort in object_list %}
                <tr>
                    <td>{{ cohort.code }}</td>
                    <td>{{ cohort.description }}</td>
                    <td>{{ cohort.group }}</td>
                    <td>
                        <a href="{% url 'management:edit-cohort' cohort.code %}">
                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                            Edit Cohort
                        </a>
                        |
                        <a href="">deactivate</a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="4">None Found</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'management:add-cohort' %}" class="btn btn-info">
        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
        Add Cohort
    </a>
{% endblock %}
