{% if page_obj.has_other_pages %}
    <div class="text-center">
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li>
                    {% if query_term %}
                        <a class="page-link" href="?show={{ query_term }}&amp;page={{ page_obj.previous_page_number }}">&laquo;</a>
                    {% else %}
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
                    {% endif %}
                </li>
            {% else %}
                <li class="disabled">
                    <span>&laquo;</span>
                </li>
            {% endif %}
            {% for i in page_obj.paginator.page_range %}
                {% if page_obj.number == i %}
                    <li class="active">
                        <span>{{ i }}
                            <span class="sr-only">(current)</span>
                        </span>
                    </li>
                {% else %}
                    <li>
                        {% if query_term %}
                            <a class="page-link" href="?show={{ query_term }}&amp;page={{ i }}">{{ i }}</a>
                        {% else %}
                            <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                        {% endif %}
                    </li>
                {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
                <li>
                    {% if query_term %}
                        <a class="page-link" href="?show={{ query_term }}&amp;page={{ page_obj.next_page_number }}">&raquo;</a>
                    {% else %}
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a>
                    {% endif %}
                </li>
            {% else %}
                <li class="disabled">
                    <span>&raquo;</span>
                </li>
            {% endif %}
        </ul>
    </div>
{% endif %}
