{% extends 'student_explorer/index.html' %}

{% block title %}
<title>Forbidden</title>
{% endblock %}

{% block content %}
<div class="container">
    <h1>Permission Denied</h1>
    <p>You do not currently have access to Student Explorer. To learn about Student Explorer and its history, see <a href="/about">About Student Explorer</a>. For more information about using Student Explorer including how to get access and who to contact for assistance, please see the <a href="https://documentation.its.umich.edu/student-explorer-general">Student Explorer documentation.</a></p>
</div>
{% endblock %}
