{% extends 'dashboard/base.html' %}

{% block page-title %}SE{% endblock %}

{% block main %}
{% verbatim %}
<body ng-app="studentexplorerApp" layout="row" ng-controller="AdvisorController as ctrl" ng-cloak>

<div flex layout="row">

<md-content>
  <div flex layout="column" tabIndex="-1" role="main" class="md-whiteframe-z2">
    <md-toolbar >
      <div class="md-toolbar-tools" >
        <h1><span>All Advisors</span></h1>
        <span flex></span>
        <form class="search-bar">
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon"><i class="fa fa-search"></i></div>
              <input type="text" class="form-control" placeholder="Search advisor" ng-model="ctrl.searchAdvisor">
            </div>      
          </div>
        </form>
      </div>
    </md-toolbar>
  </div>

  <div layout="row" layout-sm="column">
    <md-content id="content">
      <div class="tb filter-table">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <td><a>Filters<a></td>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div><!-- comment used for removing the gap
   --><div class="tb advisor-table">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <td>
                <a href="" ng-click="ctrl.sortType = 'last_name'; ctrl.sortReverse = !ctrl.sortReverse">
                  Name
                  <span ng-show="ctrl.sortType == 'last_name' &amp;&amp; !ctrl.sortReverse" class="fa fa-caret-down"></span>
                  <span ng-show="ctrl.sortType == 'last_name' &amp;&amp; ctrl.sortReverse" class="fa fa-caret-up"></span>
                </a>
              </td>
              <td>
                <a href="" ng-click="ctrl.sortType = 'univ_id'; ctrl.sortReverse = !ctrl.sortReverse">
                  Advisor ID
                  <span ng-show="ctrl.sortType == 'univ_id' &amp;&amp; !ctrl.sortReverse" class="fa fa-caret-down"></span>
                  <span ng-show="ctrl.sortType == 'univ_id' &amp;&amp; ctrl.sortReverse" class="fa fa-caret-up"></span>
                </a>
              </td>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="advisor in ctrl.advisors | orderBy:ctrl.sortType:ctrl.sortReverse | filter:ctrl.searchAdvisor">
              <td class="bold"><a href="http://localhost:2080/advisors/{{advisor.username}}/students/">{{ advisor.last_name }}, {{ advisor.first_name }}</a></td>
              <td>{{ advisor.univ_id }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </md-content>
  </div>
</md-content>

</div>
<hr/>
<center class="smallnote"><p>Copyright &copy; 2015 The Regents of the Univerisity of Michigan</p></center>
</body>
{% endverbatim %}
{% endblock %}
