{% extends 'student_explorer/index.html' %}

{% block content %}

    <div class='container container-feedback center-block end-margin'>
        <div class='row-fluid'>
            <form method="post">{% csrf_token %}
                {% if messages %}
                    {% for message in messages %}
                        <div class='alert alert-{{ message.tags }} top-buffer'>{{ message }}</div>
                    {% endfor %}
                {% endif %}
                <h1 class="sub-header">Feedback</h1>
                <small>Please tell us about your experience using Student Explorer. Your feedback will help us improve the tool.</small>
                <div class='form-group'>
                    <label for='{{ form.user_name.id_for_label }}'>From:</label>
                    <input type='text' class='form-control' name='{{ form.user_name.name }}' id='{{ form.user_name.id_for_label }}' value='{{ user.get_full_name }} <{{ user.email }}>' placeholder='' readonly/>
                </div>
                <label for='{{ form.feedback_message.id_for_label }}'>Message:</label>
                <div class='form-group {% if form.errors.feedback_message %} has-error {% endif %}'>
                    {% for error in form.errors.feedback_message %}
                        <label class='control-label' for='{{ form.feedback_message.id_for_label }}'>
                            {{ error }}
                        </label>
                    {% endfor %}
                    <textarea class="form-control" rows="5" name='{{ form.feedback_message.name }}' id='{{ form.feedback_message.id_for_label }}'></textarea>
                </div>
                <button type='submit' class='btn btn-success'>Submit</button>
                <a href='{{ request.META.HTTP_REFERER }}' class='cancel-link'>
                    <button type='button' class='btn btn-secondary'>Cancel</button>
                </a>
            </form>
        </div>
    </div>

{% endblock %}
