$color_active_gray: rgb(204, 204, 204);
$color_hover_gray: rgb(229, 229, 229);
$color_background_gray: rgb(249, 249, 249);
$color_engage_red: rgb(193, 39, 45);
$color_white: rgb(255, 255, 255);
$color_black: rgb(0, 0, 0);
$color_student_detail_background: rgb(62,108,156);
$color_nav_background: rgb(28,49,68);
$color_nav_hover: rgb(18, 68, 101);
$color_lms_activity: rgb(190,205,192);
$color_student_average: rgb(91,133,172);
$color_course_average: rgb(244,224,117);
