$font_links_lists: 14px rgb(48, 114, 171);
$font_advisor_h1: 36px rgb(165, 42, 42);
$font_advisor_h2: 24px rgb(51, 51, 51);
$font_student_h1: 28px 500 rgb(255, 255, 255);
$font_student_h2: 24px 500 rgb(255, 255, 255);
$font_student_h3: 24px 500 rgb(51, 51, 51);
$font_student_h4: 20px 500 rgb(51, 51, 51);
$font_student_course_list: 18px 500 rgb(44, 113, 173);
$font_student_email_uniquename: 14px rgb(255, 255, 255);
$font_student_explorer_wordmark: Lato 18px rgb(229, 229, 229);
$font_Lato: Lato;
$font_Helvetica: Helvetica;
