$font_student_explorer_wordmark: Lato 18px rgb(229, 229, 229);
$font_Lato: Lato;
$font_Helvetica: Helvetica;
$font_links_lists: (size: 14px, color: rgb(48, 114, 171));
$font_advisor_h1: (size: 36px, color: rgb(165, 42, 42));
$font_advisor_h2: (size: 24px, color: rgb(51, 51, 51));
$font_student_h1: (size: 28px, color: rgb(255, 255, 255), weight: 400);
$font_student_h2: (size: 24px, color: rgb(255, 255, 255), weight: 500);
$font_student_h3: (size: 24px, color: rgb(51, 51, 51), weight: 500);
$font_student_h4: (size: 20px, color: rgb(51, 51, 51), weight: 500);
$font_student_course_list: (size: 18px, color: rgb(44, 113, 173), weight: 500);
$font_student_email_uniquename: (size: 14px, color: rgb(255, 255, 255), weight: 300);
