$tablet-width: 992px;
$chart-width: 1150px;
@mixin mobilemenu {
    position: static;
    left: auto;
    width: auto;
    margin: -$primary-margin -15px 0;
}
@mixin desktop {
     @media screen and (min-width: #{$tablet-width + 1}){
        @content;
    }
}
@mixin mobile {
     @media screen and (max-width: #{$tablet-width}){
        @content;
    }
}
@mixin medium {
     @media screen and (min-width: 768px) and (max-width: 992px){
        @content;
    }
}
@mixin chart {
     @media screen and (min-width: #{$chart-width}){
        @content;
    }
}
@mixin font ($size: null, $color: null, $weight: null) {
    font-size: $size;
    color: $color;
    font-weight: $weight;
}
